<!DOCTYPE html>
<html>

<head>
    <title>Cabezera</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="..\css\styleheader.css" rel="stylesheet" type="text/css" />
    <link href="..\css\styleheader2.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <header data-height="90" class="header dropdown-false header-search-false with-transition header-top-true responsive-true height-90 attachment-fixed">
        <div class="header-top">
            <div class="container ninzio-clearfix">
                <div class="slogan">
                    <i class="fa fa-map-marker"></i> Plaça del Tint, 6 - Terrassa | Tel. 93 731 10 09 | <a href="mailto:info@prodis.cat">info@prodis.cat</a>
                </div>

                <!--div class="social-links ninzio-clearfix"-->
                <div class="social-links">
                    <!--
                    <a class="facebook" href="https://www.facebook.com/prodisterrassa" title="facebook" target="_blank"><i class="fa fa-facebook"></i
                        ></a>

                    <a class="twitter" href="https://twitter.com/prodisterrassa" title="twitter" target="_blank"><i class="fa fa-twitter"></i
                        ></a>

                    <a class="youtube" href="https://www.youtube.com/channel/UCSRcsL1aiF0vciK2WgaZV2w" title="youtube" target="_blank"><i class="fa fa-youtube"></i
                        ></a>

                    <a class="linkedin" href="https://www.linkedin.com/company/fundacio-prodis-terrassa/" title="linkedin" target="_blank"><i class="fa fa-linkedin"></i
                        ></a>

                    <a class="instagram" href="https://www.instagram.com/prodisterrassa/" title="instagram" target="_blank"><i class="fa fa-instagram"></i
                        ></a>
-->

                    <div class="idiomes">
                        <ul>
                            <li class="lang-item lang-item-6 lang-item-ca lang-item-first">
                                <a lang="ca" hreflang="ca" href="https://prodis.cat/ca/">ca</a>
                            </li>
                            <li class="lang-item lang-item-9 lang-item-es current-lang">
                                <a lang="es-ES" hreflang="es-ES" href="https://prodis.cat/es/">es</a>
                            </li>
                            <span class="contacte-i-localitzacio"><a href="https://prodis.cat/es/trabaja-con-nosotros/">Trabaja con nosotros</a></span> |
                            <span class="contacte-i-localitzacio"><a href="https://portal.prodis.cat/entigest/rhpt/entigest.rhpt.login.cls?idi=2" target="_blank">Portal del empleado</a></span> |
                            <span class="contacte-i-localitzacio"><a href="https://prodis.cat/es/contacto/">Contacto y localización</a></span>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-content">
            <div class="container ninzio-clearfix">
                <div class="logo">
                    <a href="https://prodis.cat/es" title="Prodis">
                        <div class="log">
                            <img src="https://prodis.cat/wp-content/uploads/2016/03/logo-prodis.jpg" alt="Prodis" />
                        </div>
                    </a>
                </div>
                <div class="perfil">
                    <a class="test" href="../views/perfil.php"><img src="../views/src/logo_user.png"></a>
                    <a class="test" href="../controllers/exitSesion.php"><img src="../views/src/exit.png"></a>



                </div>

            </div>
        </div>


    </header>
</body>

</html>